* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: bisque;
}

.form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0px 16px;
  margin: 8px;
  border-radius: 6px;
  background-color: chocolate;
}

.flex-area {
  background-color: rgb(164, 147, 179);
  text-align: center;
  width: 200px;
  height: 200px;
}

.task-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
